@model TimeVista2._0.Models.tbl_department

@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon bg-primary"><i class="fa fa-user"></i></span>
                        <div class="dash-widget-info">
                            <h3 style="color:aqua" class="text-right">@ViewBag.TotalEmployees</h3>
                            <span class="widget-title1">Employees <i class="fa fa-check"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon bg-success"><i class="fa fa-building-o"></i></span>
                        <div class="dash-widget-info">
                            <h3 class="text-right">@ViewBag.TotalDepartments</h3>
                            <span class="widget-title2">Departments <i class="fa fa-check"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card dash-widget">
                    <div class="card-body">
                        <span class="dash-widget-icon bg-warning"><i class="fa fa-calendar"></i></span>
                        <div class="dash-widget-info">
                            <h3 class="text-right">@ViewBag.TotalShifts</h3>
                            <span class="widget-title3">Shifts <i class="fa fa-check"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Active Employees</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped new-patient-table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="~/img/user.jpg" class="rounded-circle" width="28" height="28" alt="Employee">
                                            <h2 class="d-inline-block align-middle">John Doe</h2>
                                        </td>
                                        <td>john.doe@example.com</td>
                                        <td>EMP-001</td>
                                        <td><span class="custom-badge status-green">Active</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="~/img/user.jpg" class="rounded-circle" width="28" height="28" alt="Employee">
                                            <h2 class="d-inline-block align-middle">Jane Smith</h2>
                                        </td>
                                        <td>jane.smith@example.com</td>
                                        <td>EMP-002</td>
                                        <td><span class="custom-badge status-green">Active</span></td>
                                    </tr>
                                    <!-- Add more static rows as needed -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card member-panel">
                    <div class="card-body">
                        <ul class="contact-list">
                            <li>
                                <div class="contact-cont">
                                    <div class="float-left user-img m-r-10">
                                        <img src="~/img/user.jpg" class="rounded-circle w-40" alt="Employee">
                                        <span class="status online"></span>
                                    </div>
                                    <div class="contact-info">
                                        <span class="contact-name text-ellipsis">Michael Brown</span>
                                        <span class="contact-date">HR</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="contact-cont">
                                    <div class="float-left user-img m-r-10">
                                        <img src="~/img/user.jpg" class="rounded-circle w-40" alt="Employee">
                                        <span class="status online"></span>
                                    </div>
                                    <div class="contact-info">
                                        <span class="contact-name text-ellipsis">Emily Johnson</span>
                                        <span class="contact-date">IT</span>
                                    </div>
                                </div>
                            </li>
                            <!-- Add more static list items as needed -->
                        </ul>
                    </div>
                    <div class="card-footer text-center bg-white">
                        <a href="@Url.Action("Employees", "Admin")" class="text-muted">View all Employees</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
